/* Configs gerais */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #1C1C1F;
}

/* container da navegação */
.navContainer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.searchContainer{
    display: flex;
    align-items: center;
}

.searchContainer input{
    background-color: #24242A;
    border: none;
    height: 40px;
    width: 280px;
    border-radius: 10px;
    color: #61616A;
    padding-left: 15px;
}

.searchContainer input:focus{
    outline: 0;
}

.navContainer button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #24242A;
    border: none;
    cursor: pointer;
}

.navContainer button:hover{
    background-color: #303038;
}

#buttonImage{
    width: 20px;
    
}

/* Botão de adicionar livros */

.adicionarContainer{
    display: flex;
    justify-content: center;
    
}


.adicionarContainer button{
    width: 90px;
    height: 40px;
    margin-top: 20px;
    background-color: #24242A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.adicionarContainer button:hover{
    background-color: #303038;
}

.adicionarContainer img {
    width: 20px;
    margin: 5px;
}



/* parte dos livros lidos */

.containerInput{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 355px;
    height: 70px;
    /* border: 1px solid red;  */

    background: #24242A;
    border-radius: 10px;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;  

    
} 

#titulo{
    position: relative;
    right: 100px;
    top: 10px;
}

#author{
    position: relative;
    right: 100px;
    top: 20px;
}

#livroCompleto{
    position: relative;
    left: 100px;
    bottom: 28px;
}

#date{
    position: relative;
    left: 100px;
    bottom: 18px;
}

#bouttonDelete{
    position: relative;
    left: 260px;
    bottom: 60px;
    background-color: #24242A;
    border: 0;
    width: 30px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

#bouttonDelete:hover{
    background-color: #303038;

}

#bouttonDelete img{
    width: 24px;
}

#buttonEdit{
    position: relative;
    right: 200px;
    bottom: 60px;
    width: 30px;
    height: 40px;
    border: none;
    border-radius: 10px;

}

#buttonEdit:hover {
    opacity: 0.6;
    
}

#buttonEdit img{
    width: 24px;
}